/*
Cindy Liu, David Lee, Ethan Cheung, Kalimul Kaif
DECK
SoftDev
P00 -- Move Slowly and Fix Things
2025-11-10
time spent: 5 min
*/
body {
    font-family: Verdana, Helvetica, sans-serif;
    background: lightgray;
}

form {
    background: gray;
    padding: 10px;
    border: 2px solid black;
    min-width: none;
    max-width: fit-content;
    text-align: left;
    border-radius: 5px;
}

h1 {
    text-decoration: underline;
} 
