nav {
    background-color: #333; /* Dark background */
    border-radius: 5px;
    height: 20px;
}

.nav-links {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Align items in a row */
}

.nav-links li {
    margin: 0 15px; /* Space between links */
}

.nav-links li:last-child {
    margin-left: auto; /* Push last item (LOGOUT) to the right */
}

.nav-links a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
    padding: 1px 2px; /* Padding around links */
}

.nav-links a:hover {
    height: 100%;
    background-color: #555; /* Change background on hover */
}