<!--
Cindy Liu, David Lee, Ethan Cheung, Kalimul Kaif
DECK
SoftDev
P00 -- Move Slowly and Fix Things
2025-10-29
time spent:
-->

<!--
"What do you want to put in description?" section
TEXTBOX
-->


<!DOCTYPE html>
<html>
<head>
    <title>Create New Page</title>
    <h1> Create a New Page: </h1>

    <form action="/homepage">
      <label for="title"><b>Title:</b></label><br>
      <input type="text" name="title"> <br>

      <label for="content"><b>Content:</b></label> <br>
      <input type="text" name="content"> <br>

      <input type="submit" name="update" value="Create the Page"> <br>
    </form>
</head>
<body>
</body>
</html>
