<!--
Cindy Liu, David Lee, Ethan Cheung, Kalimul Kaif
DECK
SoftDev
P00 -- Move Slowly and Fix Things
2025-10-29
time spent:
-->
<!--
"What do you want to put in description?" section
TEXTBOX
-->
<!DOCTYPE html>
<html>
<head>
    <title>Create New Page</title>
    <h1> Create a New Page: </h1>
    <l> Hey {{user}}, create your blog here: </l> <br> <br>
    <form action="/create_page" method="POST">
      <label for="title"><b>Title:</b></label><br>
      <input type="text" name="title"> <br>
      <label for="content"><b>Content:</b></label> <br>
      <input type="text" name="content"> <br>
      <input type="submit" name="update" value="Create"> <br>
    </form>
</head>
<body>
</body>
</html>
