<!--
Cindy Liu, David Lee, Ethan Cheung, Kalimul Kaif
DECK
SoftDev
P00 -- Move Slowly and Fix Things
2025-10-29
time spent:
-->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/edit_page.css"/>
    <link rel="stylesheet" href="../static/nav.css" />

    <title>Edit Page</title>
    <h1>Edit Existing Blogs</h1>
    <style>
      textarea {
        flex: 1;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul class="nav-links">
        <li><a href="{{ url_for('homepage') }}">Home Page</a></li>
        <li><a href="{{ url_for('profile') }}">My Profile</a></li>
        <li><a href="{{ url_for('create_page') }}">Create A Blog</a></li>
        <li><a href="{{ url_for('edit_page') }}">My Blogs</a></li>
        <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
      </ul>
    </nav>

    {% if blogs %}
    <p>Click on a blog to manage its entries:</p>
    {% for blog in blogs %}
    <h3>
      <a href="{{ url_for('edit_blog', blog_name=blog[0]) }}">{{ blog[0] }}</a>
    </h3>
    {% endfor %}
    {% else %}
    <p>No blog pages to edit.</p>
    {% endif %}
  </body>
</html>
