<!--
Cindy Liu, David Lee, Ethan Cheung, Kalimul Kaif
DECK
SoftDev
P00 -- Move Slowly and Fix Things
2025-10-28
time spent:
-->

<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>DECK bloggy blog</h1>
    
    <p>howdy, {{ username }}!</p>
    
    <a href="{{ url_for('logout') }}">logout?</a>
    
    <hr>
    
    <h2>dashyboard</h2>
    <p>this confirms that you have logged in</p>
    
    <h3>upcoming features:</h3>
    <ul>
        <li>create blogs</li>
        <li>manage content</li>
        <li>edit your profile</li>
    </ul>
</body>
</html>
