<!--
Cindy Liu, David Lee, Ethan Cheung, Kalimul Kaif
DECK
SoftDev
P00 -- Move Slowly and Fix Things
2025-10-28
time spent:
-->

<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>logDECK</h1>
    <p>welcome, {{username}}!</p>
    <ul>
        <li>your profile</li>
        <li><a href="{{ url_for('create_page') }}">create a blog</a></li>
        <li><a href="{{ url_for('edit_page') }}">edit existing blogs</a></li>
        <li><a href="{{ url_for('logout') }}">logout?</li></a>
    </ul>

    <hr>

    <h2>what we're up to:</h2>
    <p>{{posts}}</p>
</body>
</html>
