<!--
Cindy Liu, David Lee, Ethan Cheung, Kalimul Kaif
DECK
SoftDev
P00 -- Move Slowly and Fix Things
2025-10-28
time spent:
-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/profile_page.css" />
  <link rel="stylesheet" href="../static/nav.css" />
  <title>My Profile</title>
</head>

<body>
  {% if curr_user == username %}
    <h1>My Profile</h1>
  {% else %}
    <h1>{{username}}'s Profile</h1>
  {% endif %}

    <nav>
      <ul class="nav-links">
        <li><a href="{{ url_for('homepage') }}">Home Page</a></li>
        <li><a href="{{ url_for('profile') }}">My Profile</a></li>
        <li><a href="{{ url_for('create_page') }}">Create A Blog</a></li>
        <li><a href="{{ url_for('edit_page') }}">My Blogs</a></li>
        <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
      </ul>
    </nav>

    {% if curr_user == username %}
      <h3>My Bio!</h3>
    {% else %}
      <h3>{{username}}'s Bio!</h3>
    {% endif %}

    {% if creation_date %}
      <p><em>Member since {{ creation_date }}</em></p>
    {% endif %}

    <hr>

    {% if bio %}
      <p>{{ bio }}</p>
    {% else %}
      <p>no bio yet!</p>
    {% endif %}

    {% if curr_user == username %}
      <form action="{{ url_for('edit_profile') }}" method="GET">
        <button type="submit">Edit Bio</button>
      </form>
    {% endif %}

    <hr>

    {% if curr_user == username %}
      <h3>My Blogs</h3>
    {% else %}
      <h3>{{username}}'s Blogs</h3>
    {% endif %}

    {% if blogs %}
      <ul>
        {% for blog in blogs %}
          <li><a href="{{ url_for('view_blog', blog_name=blog[0]) }}">{{ blog[0] }}</a> (last edited at {{ blog[1] }})</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No blogs created yet.</p>
    {% endif %}

</body>
</html>
