<!--
Cindy Liu, David Lee, Ethan Cheung, Kalimul Kaif
DECK
SoftDev
P00 -- Move Slowly and Fix Things
2025-10-28
time spent:
-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/profile_page.css" />
  <link rel="stylesheet" href="../static/nav.css" />

    <title>My Profile</title>
</head>
<body>
    <h1>logDECK</h1>

    <nav>
      <ul class="nav-links">
          <li><a href="{{ url_for('homepage') }}">Back to Homepage</a></li>
          <li><a href="{{ url_for('create_page') }}">create a blog</a></li>
          <li><a href="{{ url_for('edit_page') }}">edit existing blogs</a></li>
          <li><a href="{{ url_for('logout') }}">logout?</a></li>
          <li><a href="{{ url_for('profile') }}">my profile</a></li>
      </ul>
    </nav>

    <p>{{username}}'s profile!</p>

    <hr>

    <h2>my bio</h2>
    {% if bio %}
      <p>{{ bio }}</p>
    {% else %}
      <p>no bio yet!</p>
    {% endif %}
  
    {% if curr_user == username %}
      <form action="{{ url_for('edit_profile') }}" method="GET">
        <button type="submit">Edit Bio</button>
      </form>
    {% endif %}

</body>
</html>
