<!--
Cindy Liu, David Lee, Ethan Cheung, Kalimul Kaif
DECK
SoftDev
P00 -- Move Slowly and Fix Things
2025-10-28
time spent:
-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/profilepage.css" />

    <title>My Profile</title>
</head>
<body>
    <h1>logDECK</h1>
    <p>{{username}}'s profile!</p>
    <ul>
        <li><a href="{{ url_for('create_page') }}">create a blog</a></li>
        <li><a href="{{ url_for('edit_page') }}">edit existing blogs</a></li>
        <li><a href="{{ url_for('logout') }}">logout?</a></li>
        <li><a href="{{ url_for('profile') }}">my profile</a></li>
    </ul>

    <hr>

    <h2>my bio</h2>
    <p>{{ bio }}</p>
</body>
</html>
